@import "styles/colors-deprecated.scss";

.checkbox {
  $size: 14px;

  align-items: center;
  align-content: center;
  position: relative;
  height: $size;
  width: $size;
  border-radius: 2px;
  border: solid 1px $color-m-secondary-slate;
  overflow: hidden;
  flex-shrink: 0;
}

.checkbox-input {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.checkbox-svg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.checkbox-input:checked ~ .checkbox-svg-wrapper {
  background: $color-m-primary-charcoal;
}

.checkbox-svg-icon {
  position: absolute;
  left: 0;
  display: none;
  align-items: center;
  pointer-events: none;
  fill: white;
  width: 100%;
  height: 100%;
}

.checkbox-input:checked ~ .checkbox-svg-wrapper .checkbox-svg-icon--checked {
  display: flex;
}
