@import "index";

.radio {
  $size: 16px;

  align-items: center;
  align-content: center;
  position: relative;
  height: $size;
  width: $size;

  &__input {
    -webkit-appearance: none;
    border: 1px solid $color-night;
    border-radius: 50%;
    outline: none;
    margin: 0;
    font-size: 0;
    width: $size;
    height: $size;
    cursor: pointer;
  }

  &__input:checked::before {
    content: '';
    display: block;
    @include circle(10px);
    @include completely-center();
    background: $color-night;
    border-radius: 50%;
  }
}
