@import "styles/colors.scss";

.radio {
  $size: 14px;
  align-items: center;
  align-content: center;
  position: relative;
  height: $size;
  width: $size;
  overflow: hidden;
  flex-shrink: 0;
}

.radio-input {
  margin: 0;
  cursor: pointer;
}

.radio-svg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.radio-input:checked ~ radio-svg-wrapper {
  background: $color-m-primary-charcoal;
}

.radio-input:checked ~ radio-svg-wrapper radio-svg-icon--checked {
  display: flex;
}

.icon-radio-selected {
  width: 14.7px;
  height: 14.7px;
  object-fit: contain;
  background-color: $color-night;
}
