@import "styles/index";

.text-field {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: $space-s;

  &--with-label {
    margin-top: $space-m;
  }

  /* Input */

  &__input {
    font-family: $font-family;
    font-size: $base-font-size;
    border-radius: 2px;
    border: 1px solid $color-silver;
    color: $color-deepgray;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    height: 32px;
    padding: $space-xxs $space-xs;
    box-sizing: border-box;
    transition: box-shadow 200ms ease-in;
    width: 100%;

    &--align-right {
      text-align: right;
    }

    &--align-center {
      text-align: center;
    }

    &--trailing-icon {
      padding-right: $space-l;
    }
  }

  &--light &__input {
    background: white;
  }

  &--dark &__input {
    background: $color-snow;
  }

  &--error &__input {
    border-color: $color-rust;
  }

  &--no-margin:not(.text-field--label-always-above) {
    margin: 0;
  }

  &--no-margin.text-field--label-always-above {
    margin-bottom: 0;
  }

  &--disabled,
  &--readonly {
    opacity: 0.5;
  }

  /* Label */

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $space-xs;
    transition: all 200ms;
    pointer-events: none;
    color: $color-slategray;
  }

  &--error &__label {
    color: $color-rust;
  }

  &--active &__label,
  &--label-always-above &__label {
    top: -$space-xs;
    font-size: 10px;
    color: $color-deepgray;
  }

  /* Helper */

  &__helper {
    position: absolute;
    left: $space-xs;
    bottom: -$space-s;
    font-size: 10px;
  }

  &--error &__helper {
    color: $color-rust;
  }

  /* Icon */

  &__icon {
    @include square($size-lg);

    position: absolute;
    top: 50%;
    right: $space-xs;
    opacity: 0;
    transition: opacity 200ms ease-in 100ms;
    transform: translateY(-50%);
    pointer-events: none;
    fill: $color-limerick;

    &--trailing {
      opacity: 1;
    }
  }

  &--error &__label {
    color: $color-rust;
  }

  &--error &__icon {
    opacity: 1;
    fill: $color-rust;
  }
}
