@import "styles/index";

.FilterableSearch {
  position: relative;
  font-family: $font-family;
  display: flex;
  align-items: center;
  width: 100%;

  $height: 36px;

  &__btn {
    display: inline-block;
    height: $height;
    border: 0;
    font-family: $font-family;
    font-size: 12px;
    color: $color-white;
    padding: $size-md;
    background: $color-blue;
    cursor: pointer;
  }

  &__dropdown-toggle {
    display: inline-flex;
    @include square($height);
    border: 0;
    align-items: center;
    background: $color-blueberry;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
  }

  &__dropdown-toggle-icon {
    @include square($size-lg);
    fill: white;
    margin: auto;
    pointer-events: none;
  }

  &__dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: $size-lg;
    background: $color-white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    list-style: none;
    pointer-events: none;
    opacity: 0;
    z-index: 10;

    &--open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__dropdown-menu-item {
    margin: 0 0 $size-sm;
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__dropdown-menu-item-label {
    display: flex;
    align-items: center;
  }

  &__dropdown-menu-item-label-text {
    margin-left: $size-md;
  }
}
