@import "styles/index";


// $datepicker__font-family: $font-family;
// $datepicker__font-size: $base-font-size;
// $datepicker__selected-color: $color-limerick;
// $datepicker__text-color: $color-deepgrey;
// $datepicker__background-color: $color-m-white;
// $datepicker__border-radius: 12px;

.mdl-container-wrapper :global(.react-datepicker) {
	border: none;
	background-color: aqua;
}

.mdl-container-wrapper .react-datepicker__header {
	background-color: $color-m-white;
}

// @import "~react-datepicker/dist/react-datepicker.css";