@import "styles/index";

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input {
  font-family: $font-family;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15); // should be moved to pseudo-element http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  font-size: 14px;
  height: 36px;
  padding: $size-sm $size-md;
  box-sizing: border-box;
  transition: box-shadow 200ms ease-in;

  &--light {
    background: white;
  }

  &--dark {
    background: $color-snow;
  }

  &--error {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), inset 0 -3px 0 0 $color-rust;
  }
}

.input-icon {
  @include square($size-lg);
  position: absolute;
  top: 50%;
  right: $size-md;
  opacity: 0;
  transition: opacity 200ms ease-in 100ms;
  transform: translateY(-50%);
  fill: $color-rust;

  &--error {
    opacity: 1;
  }
}
