@import "styles/index";

.btn {
  display: inline-block;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 14px;
  font-family: $font-family;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;

  &--uppercase {
    text-transform: uppercase;
  }

  &--disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  &--default {
    background: $color-snow;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  }

  &--primary {
    background: $color-limerick;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  }

  &--secondary {
    background: $color-deepgrey;
    color: white;
  }

  &--sm {
    padding: 2px 15px;
    font-size: 12px;
  }

  &--full-width {
    width: 100%;
  }
}
