@import "styles/index";

.trend-card {
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.15);
  max-width: 320px;

  &__title {
    color: $color-night;
    text-transform: uppercase;
  }

  &__content {
    padding: $size-lg;
  }
}
