@import "styles/index";

$border-color: $color-silver;
$selected-border-color: black;
$cell-height: 49px;

.table-outer-wrapper {
  position: relative;
  margin: 0 0 $space-m;
  width: 100%;
}

.table-inner-wrapper {
  overflow: auto;
}

.table {
  position: relative;
  text-align: left;
  padding: 1px 0 $space-m; // Needed for col/row highlighting. The selection border gets clipped from overflow.
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;

  &--full-width {
    width: 100%;
  }

  &--sticky {
    position: static;
    margin: $cell-height 0 0;

    thead:first-child, // first-child is for specificity when using a classless thead.
    .table__header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: white;
      height: $cell-height;
    }
  }

  &--sortable {
    thead:first-child tr, // first-child is for specificity when using a classless thead.
    .table__header tr {
      th,
      .table__cell {
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        svg {
          visibility: hidden;
        }
      }

      th:hover,
      .table__cell:hover {
        background-color: $color-silver;

        svg {
          visibility: visible;
        }
      }
    }
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tr {
    overflow: scroll;
  }

  thead:first-child, // first-child is for specificity when using a classless thead.
  .table__header tr {
    th,
    .table__cell {
      position: relative;
      text-align: left;
      font-weight: 700;
      background-color: $color-white;
      border-top: 1px solid $border-color;
    }

    .table__cell--fixed {
      background-color: $color-white;
    }
  }

  td,
  th,
  &__cell {
    position: relative;
    border-collapse: separate;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: $cell-height;
    min-width: 128px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    font-weight: normal;
    background-color: $color-white;

    &--fixed {
      position: sticky !important; // td and th to temporarily support old tables
      left: 0;
      z-index: 1;
    }

    &--btn {
      cursor: pointer;
    }

    &:first-child {
      border-left: 1px solid $border-color;
    }

    &:nth-child(2n + 3) {
      background-color: initial;
    }

    &:nth-child(2n) {
      background-color: $color-snow;
    }

    &.table__cell--active {
      background-color: $color-silver !important;

      svg {
        visibility: visible !important;
      }
    }

    &.table__cell--align-left {
      text-align: left;
    }

    &.table__cell--align-right {
      text-align: right;
    }

    &.table__cell--header {
      font-weight: bold;
    }

    &.table__cell--last-row {
      border-bottom: none;
    }
  }

  /* 
    Row/Cell Background Colors 
  */

  tbody tr {
    td:nth-child(even),
    .table__cell:nth-child(even) {
      background-color: $color-snow;
    }
  }

  &#{&}--2-colspan-header .table__cell:nth-child(2n),
  &#{&}--2-colspan-header .table__cell:nth-child(2n + 3) {
    background-color: initial;
  }

  &.table--sticky.table--striped-rows {
    tbody tr td,
    tbody tr .table__cell {
      background-color: $color-snow;
    }

    tbody tr:nth-child(2n) {
      td,
      .table__cell {
        background-color: initial;
      }
    }
  }

  &--2-colspan-header &__cell:nth-child(2n + 3) {
    background-color: $color-snow;
  }
  &--2-colspan-header &__cell:nth-child(2n) {
    background-color: $color-white;
  }

  /*
    Striped Rows
  */
  &.table--striped-rows {
    thead tr {
      th,
      .table__cell,
      .table__cell.table__cell--fixed {
        background-color: $color-white;
      }
    }

    tbody {
      tr:nth-child(odd) {
        td,
        .table__cell {
          background-color: $color-snow;
        }
      }

      tr:nth-child(even) {
        td,
        .table__cell {
          background-color: $color-white;
        }
      }
    }
  }

  /* 
    Cell Selection
  */

  &__cell-selection {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    border: 1px solid transparent;

    &--all,
    &--col,
    &--row {
      opacity: 1;
    }

    &--col {
      border-left: 1px solid $selected-border-color;
      border-right: 1px solid $selected-border-color;
    }

    &--row {
      border-top: 1px solid $selected-border-color;
      border-bottom: 1px solid $selected-border-color;
    }

    &--top,
    &--col-start {
      border-top: 1px solid $selected-border-color;
    }

    &--bottom,
    &--col-end {
      border-bottom: 1px solid $selected-border-color;
    }

    &--left,
    &--row-start {
      border-left: 1px solid $selected-border-color;
    }

    &--right,
    &--row-end {
      border-right: 1px solid $selected-border-color;
    }

    &--top-left {
      border-top: 1px solid $selected-border-color;
      border-left: 1px solid $selected-border-color;
    }

    &--top-right {
      border-top: 1px solid $selected-border-color;
      border-right: 1px solid $selected-border-color;
    }

    &--bottom-right {
      border-bottom: 1px solid $selected-border-color;
      border-right: 1px solid $selected-border-color;
    }

    &--bottom-left {
      border-bottom: 1px solid $selected-border-color;
      border-left: 1px solid $selected-border-color;
    }
  }

  .non-stock-style {
    border-bottom: 1px solid $color-rust;
  }

  input {
    min-width: 80px;
  }
}

/* Headless Table */
.table {
  border-collapse: collapse;

  :not(thead tbody) tbody:first-child {
    border-top: 1px solid $border-color;
  }
}
