@import "index";

.radio {
  $size: 16px;

  display: flex;

  &__input-wrapper {
    position: relative;
    align-items: center;
    align-content: center;
    height: $size;
    width: $size;
  }

  &__input {
    -webkit-appearance: none;
    border: 1px solid $color-deepgrey;
    border-radius: 50%;
    outline: none;
    margin: 0;
    font-size: 0;
    width: $size;
    height: $size;
    cursor: pointer;
  }

  &__label {
    margin-top: -2px;
    margin-left: $space-xs;

    &--checked {
      font-weight: bolder;
      color: $color-night;
    }
  }

  &__input:checked {
    border: 1px solid $color-night;
  }

  &__input:checked::before {
    content: "";
    display: block;
    @include circle(10px);
    @include completely-center();
    background: $color-night;
    border-radius: 50%;
  }
}
