@import "styles/index";

@keyframes slideInCategories {
  from { right: -100% }
  to { right: 0 }
}

.aside {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1001;
  height: 100%;
  flex-direction: column;
  background-color: $color-white;
  animation: slideInCategories ease-out .5s forwards;
}

.header {
  background-color: $color-gray;
  padding: $space-s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h2 {
    margin-bottom: 0;
  }

  &__left {
    display: flex;
  }
}

.close {
  position: relative;
  margin-right: $space-xs;
  padding: 0;
  border: none;
}
