@import "styles/toolbox";

.text-field {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: $space-s;

  &--with-label {
    margin-top: $space-m;
  }

  &__input {
    font-family: $font-family-primary;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15); // should be moved to pseudo-element http://tobiasahlin.com/blog/how-to-animate-box-shadow/
    font-size: 14px;
    height: 32px;
    padding: $space-xxs $space-xs;
    box-sizing: border-box;
    transition: box-shadow 200ms ease-in;
    width: 100%;
  }

  &--light &__input {
    background: white;
  }

  &--dark &__input {
    background: $color-snow;
  }

  &--error &__input {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), inset 0 -3px 0 0 $color-rust;
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $space-xs;
    transition: all 200ms;
    pointer-events: none;
  }

  &--error &__label {
    color: $color-rust;
  }

  &--active &__label {
    top: -$space-xs;
    font-size: 10px;
  }

  &__helper {
    position: absolute;
    left: $space-xs;
    bottom: -$space-s;
    font-size: 10px;
  }

  &--error &__helper {
    color: $color-rust;
  }

  &__icon {
    @include square($size-lg);

    position: absolute;
    top: 50%;
    right: $space-xs;
    opacity: 0;
    transition: opacity 200ms ease-in 100ms;
    transform: translateY(-50%);
    fill: $color-limerick;

    &--trailing {
      opacity: 1;
    }
  }

  &--error &__icon {
    opacity: 1;
    fill: $color-rust;
  }
}
