@import "styles/colors.scss";

.Checkbox {
  $size: 14px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  height: $size;
  width: $size;
  border-radius: 2px;
  border: solid 1px $color-m-secondary-slate;
  overflow: hidden;
}

.Checkbox__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.Checkbox__svg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.Checkbox__checkbox:checked ~ .Checkbox__svg-wrapper {
  background: $color-m-primary-charcoal;
}

.Checkbox__svg-icon {
  position: absolute;
  left: 0;
  display: none;
  align-items: center;
  pointer-events: none;
  fill: white;
  width: 100%;
  height: 100%;
}

.Checkbox__checkbox:checked
  ~ .Checkbox__svg-wrapper
  .Checkbox__svg-icon--checked {
  display: flex;
}
