@import "styles/index.scss";

.toggle {
  $size: 16px;

  align-items: center;
  align-content: center;
  position: relative;
  height: $size;
  padding: 10px;
  flex-shrink: 0;
  display: inline-flex;
  border: 0;
  outline: none;
  font-size: 0;

  &__switch {
    position: relative;
    display: inline-block;
    outline: initial;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-silver;
    transition: 0.4s;
    height: 8px;
    width: 24px;
    border-radius: 34px;
    margin: 0 8px;
  }

  &__input + &__slider {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
  }

  &__slider::before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: $size;
    width: $size;
    left: -7px;
    top: -5px;
    bottom: 4px;
    background-color: $color-onyx;
    transition: 0.4s;
  }

  &__input:checked + &__slider::before {
    transform: translateX(26px);
    background-color: $color-limerick;
    left: -10px;
  }
}
