@import "styles/index";

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0;
  margin: 0;
}

.tab {
  display: inline-block;
  margin: 0;
  padding: $size-md;
  border-bottom: 1px solid $color-pastelgray;
  text-align: center;
  background: white;
  cursor: pointer;
}

.tab--active {
  box-shadow: inset 0 -3px $color-limerick;
  background: #f3f3f3;
  color: #000;
}
