@import "styles/index.scss";

.radio-group {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  &__row {
    display: inline-block;
    padding: $space-xxs;
  }
}
