@import "styles/index.scss";

.radio-group {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--row {
    display: flex;
  }

  &__li {
    display: flex;
    align-content: flex-start;
    margin-bottom: $space-s;
  }

  &--row &__li {
    margin-right: $space-s;

    &:last-child {
      margin-right: 0;
    }
  }
}
