@import "styles/toolbox";

.overflow-menu {
  position: relative;
  display: inline-block;
}

.overflow-menu__button {
  @include circle(36px);
  padding: $space-xs;
  border: none;
  background-color: $color-gray;
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.08);

  &:focus {
    outline: 0;
  }
}

.overflow-menu__svg,
.overflow-menu__svg--opened {
  @include completely-center();
  width: 36.111111111%;
  height: 44.444444444%;
}

.overflow-menu__svg {
  fill: $color-deepgrey;
}

.overflow-menu__svg--opened {
  fill: $color-blue;
}

.overflow-menu__actions {
  padding: $space-m;
  background-color: $color-white;
  border-radius: 2px;
  width: 282px;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 60%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.14);
  z-index: 9;
  box-sizing: border-box;
}

.overflow-menu__actions > *:last-child {
  margin-bottom: 0;
}
