$color-m-darker-gray: #343639;
$color-m-secondary-beige: #b8b298;
$color-m-font-beige: #938b82;
$color-m-black: #000;
$color-m-primary-charcoal: #53565a;
$color-m-primary-green: #99c221;
$color-m-secondary-silver: #ccc;
$color-m-primary-gray: #ddd;
$color-m-primary-dark-gray: #393c40;
$color-m-primary-light-gray: #f3f3f3;
$color-m-font-gray: #4b4b4b;
$color-m-secondary-slate: #7c878e;
$color-m-white: #fff;
$color-m-primary-blue: #5188f3;
$color-m-primary-lighter-gray: #fafafa;
$color-m-primary-accent-blue: #4d82e9;
