// Used in calculating rems in the fontSize mixin
$rootFontSize: 16px;

@mixin square($x) {
  height: $x;
  width: $x;
}

@mixin circle($x) {
  height: $x;
  width: $x;
  border-radius: 50%;
}

@mixin completelyCenter() {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@function calculate-rem($size) {
  $remSize: $size/$rootFontSize;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}
