@mixin square($x) {
  height: $x;
  width: $x;
}

@mixin circle($x) {
  height: $x;
  width: $x;
  border-radius: 50%;
}

@mixin completelyCenter() {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
