h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  font-family: $font-family-primary;
  font-style: normal;
  margin: 0 0 1rem;
}

h1,
.h1 {
  color: $color-limerick;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: none;
}

h2,
.h2 {
  color: $color-deepgrey;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: none;
}

h3,
.h3 {
  color: $color-deepgrey;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;
  text-transform: none;
}

h4,
.h4 {
  color: $color-deepgrey;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  text-transform: none;
}

h5,
.h5 {
  color: $color-deepgrey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
  text-transform: none;
}

h6,
.h6 {
  color: $color-deepgrey;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
}

p,
.p {
  color: $color-deepgrey;
  font-size: 14px;
  line-height: 1.57;
}

// @mixin dark-bg-typography {
//   .h2,
//   .h3,
//   .h4,
//   .h5,
//   .h6,
//   .p,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   p,
//   li {
//     color: white;
//   }
// }

// @mixin element-tag-typography {
//   h1 {
//     @include typography-h1;
//   }

//   h2 {
//     @include typography-h2;
//   }

//   h3 {
//     @include typography-h3;
//   }

//   h4 {
//     @include typography-h4;
//   }

//   h5 {
//     @include typography-h5;
//   }

//   h6 {
//     @include typography-h6;
//   }

//   a,
//   label,
//   span {
//     @include typography-p;

//     margin: 0;
//   }

//   blockquote,
//   p {
//     @include typography-p;
//   }

//   ul li,
//   ol li {
//     @include typography-p;

//     margin: 0 0 1rem;
//   }

//   em {
//     font-style: italic;
//   }

//   strong {
//     font-weight: 700;
//   }
// }
