@import "colors";
@import "helpers";

$font-family: "Gotham SSm A", "Gotham SSm B", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif;

@mixin typography-h1 {
  font-size: 36px;
  margin: 0 0 1rem;
  color: $color-limerick;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1.33;
}

@mixin typography-h2 {
  font-size: 24px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.33;
}

@mixin typography-h3 {
  font-size: 18px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.39;
}

@mixin typography-h4 {
  font-size: 16px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.38;
}

@mixin typography-h5 {
  font-size: 16px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
}

@mixin typography-h6 {
  font-size: 12px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
}

@mixin typography-p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: $color-m-primary-charcoal;
  font-family: $font-family;
  line-height: 1.57;
}

@mixin dark-bg-typography {
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .p,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: white;
  }
}

@mixin element-tag-typography {
  h1 {
    @include typography-h1;
  }

  h2 {
    @include typography-h2;
  }

  h3 {
    @include typography-h3;
  }

  h4 {
    @include typography-h4;
  }

  h5 {
    @include typography-h5;
  }

  h6 {
    @include typography-h6;
  }

  a,
  label,
  span {
    @include typography-p;

    margin: 0;
  }

  blockquote,
  p {
    @include typography-p;
  }

  ul li,
  ol li {
    @include typography-p;

    margin: 0 0 1rem;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }
}
