/* global.scss - All variables, mixins, and utility classes. */

@import "index";
@import "grid";

html,
body {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $base-font-size;
  color: $color-night;
}

button {
  font-family: $font-family;
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@if $import-font {
  @import url($font-url);
}

@include element-tag-typography();
