@import "global";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $base-font-size;
}

@include element-tag-typography();
