$color-blackolive: #393c40;
$color-blue: #5188f3;
$color-blueberry: #4d82e9;
$color-deepgrey: #53565a;
$color-deepgray: $color-deepgrey;
$color-khaki: #b8b298;
$color-limerick: #99c221;
$color-night: #000;
$color-onyx: #343639;
$color-pastelgray: #ccc;
$color-silver: #ddd;
$color-pastelgrey: $color-pastelgray;
$color-slategray: #7c878e;
$color-taupegrey: #938b82;
$color-rust: #d11818;
$color-snow: #fafafa;
$color-white: #fff;
$color-gray: #f3f3f3;
