// Legacy spacers
$size-sm: 5px;
$size-md: 10px;
$size-lg: 20px;
$size-xl: 40px;

// Use these
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 36px;
$space-xl: 48px;
$space-xxl: 104px;
