$font-family-primary-url: "https://cloud.typography.com/7038756/6738972/css/fonts.css";
$font-family-primary: "Gotham SSm A", "Gotham SSm B", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

$font-family-code: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
  monospace;
